body {
  background-color: #e07f7f;
}


.App {
  text-align: center;
  
}

.map {
  margin: 10px;
  width: 90%;
  margin: 0 auto;
  height: 350px;
  /* position: fixed;
  top: 360px;
  right: 10px; */
  border-radius: 5px;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 5px #00000070; 
  box-shadow: 5px 5px 15px 5px #00000070;
  background-color: white;
}

.statsContainer {
  width: 90%;
  margin: 65px auto 30px;
  height: 190px;
}

.statsHeader {
  width:100%;
  height:50px;
  background-color:black;
  color:yellow;
  font-weight:bold;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 5px #00000050; 
  box-shadow: 5px 5px 15px 5px #00000050;
  margin-bottom: 5px;
  vertical-align: middle;
  font-size: 18pt;
  line-height: 18px;
  padding-top: 5px;
}

.statsBoard {
  width: 100%;
  height: 150px;
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.statsDiv {
  border-radius: 5px;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 5px #00000070; 
  box-shadow: 5px 5px 15px 5px #00000070;
  width:33%;
  height:150px;
  text-align:center;
  vertical-align:middle;
}

.dataDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 10px 2px;
  font-size: large;
  border: 2px solid black;
  border-radius: 5px;
  width: 45%;
  margin:25px 15px;
  -webkit-box-shadow: 5px 5px 15px 5px #615d5d60; 
  box-shadow: 5px 5px 15px 5px #615d5d60;
  transform: skew(-4deg);
  font-weight: bold;
  background-color: white;
}

.attributions {
  width: 50%;
  height: 120px;
  position: fixed;
  margin: 10px;
  bottom: 3vh;
  right: 10px;
  font-size: small;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000070; 
  box-shadow: 5px 5px 15px 5px #00000070;
}

.contributorCard {
  width: 190px;
  height: 200px;
  background-color: #9fc1f5;
  text-align: center;
  border: 1px solid black;
  padding-top: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000070; 
  box-shadow: 5px 5px 15px 5px #00000070;
}

.contributorPix {
  height: 128px;
  width: 128px;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000070; 
  box-shadow: 5px 5px 15px 5px #00000070;
}

.nav-list {
  margin-top: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list-item {
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  color:white;
  margin-bottom:30px;
}

@media (max-width: 768px) {
  * {
    font-size: 0.8rem;
  }
  .map {
    width: auto;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 100px;
  }
  .dataDiv {
    display: flex;
    width: auto;
    margin-top: 50%;
  }
  .attributions {
    width: auto;
  }
  .nav-link {
    font-size: 1rem;
  }
  .statsDiv {
    height: 75px;
  }
  .statsBoard {
    height: 75px;
  }
  .statsContainer {
    height: 110px;
    margin-top: 15vh;
  }
  
}