.App {
  text-align: center;
}

.map {
  width: 50%;
  height: 500px;
  position: fixed;
  top: 20px;
  right: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000070; 
  box-shadow: 5px 5px 15px 5px #00000070;
}

.dataDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  padding: 10px;
  font-size: xx-large;
  border: 2px solid black;
  border-radius: 5px;
  width: 40%;
  margin:20px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000070; 
  box-shadow: 5px 5px 15px 5px #00000070;
  transform: skew(-8deg);
}
